body {
    background: rgb(70, 68, 68);
    color: white;
}

.title {
    text-align: center;

}

.login {
    background: rgb(1, 172, 1);
    border-radius: 5px;
    float: right;
    width: 50px;
    height: 20px;
    padding-left: 8px;
}

.Date {
    border: white 5px;
}

col {
    width: 150;
    height: 150;
}