body {
    text-align: center;
    background-color: antiquewhite;
}

div:hover {
    font-weight: bold;
}

.Text-One {
    background-color: aqua;
    font-size: 20px;
    color: black;
}

.Text-Two {
    background-color: white;
    font-size: 30px;
}

.Text-Three {
    background-color: yellow;
    font-size: 40px;
}